<div class="container emi-calc-container" style="overflow-x:auto;">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12">
            <!-- Loan Amount -->
            <div *ngTemplateOutlet="sliderTemplate; context:{tempDisData: loanAmtDisp}"></div>
            <!-- Tenure -->
            <div *ngTemplateOutlet="sliderTemplate; context:{tempDisData: tenureDisp}"></div>
            <!-- Inerest and Emi -->
            <section>
                <div class="row mt-3  mb-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex mob-d-block j-c-sb">
                        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-5 col-sm-5 col-12 mob-mb-10">
                            <label class="label-disp mb-2">Interest per annum (%)</label>
                            <input type="text" class="form-control" [(ngModel)]="emiCalcData.interest" (change)="calculate()" disabled  aria-label="Interest per annum (%)">
                        </div>
                        <div  class="col-xxl-4 col-xl-4 col-lg-5 col-md-5 col-sm-5  col-12">
                            <label class="label-disp mb-2">EMI to be paid</label>
                            <input type="text" [(ngModel)]="emiCalcData.emiToBePaid" disabled class="form-control" autocomplete="off"  aria-label="EMI to be paid">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<ng-template #sliderTemplate let-data="tempDisData">
       
            <div class=" py-3">
                <div class="row dispWidth">
                    <div class="col col-sm-6 col-md-6">
                        <label class="label-disp">
                            {{data.dispName}}
                        </label>
                    </div>
                    <div class="col col-sm-3 col-md-6 ">
                        <div class="form-group dispWidth">
                            <input class="form-control" [(ngModel)]="data.binder" aria-label="data.dispName"[max]="data.max" [OnlyNumber]="true" [min]="data.min" [disabled]="data.fieldAccessModifier == 'READ_ONLY'" type="number" name="loanAmount" id="" (ngModelChange)="validateValue(data);calculate();checkRegex(data)" autocomplete="off">
                        </div>
                        <div *ngIf="data.error" class="msgError">
                            {{data.error}}
                        </div>
                    </div>
                </div>
            </div>
            <!--loan amount scroller-->
            
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                    <mat-slider (change)="calculate()" [displayWith]="data.func" [max]="data.max" [min]="data.min" [discrete]="true"
                    [step]="data.steps" [vertical]="false" color="primary" thumbLabel>
                    <input matSliderThumb [(ngModel)]="data.binder">
        </mat-slider>
                </div>
           
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between align-items-center">
                <label class="label-disp">{{data.footerStartVal}}</label>
                <label class="label-disp">{{data.footerEndVal}}</label>
            </div>
        
</ng-template>
