.bgblue {
  background-color: #eff8fd;
}

.key-fact-details-container {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
}

.key-fact-download > section > div {
  display: none;
}
