<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  brand-layout commonStyle" *ngIf="!showloader">
    <div *ngIf="metaConfig.showLeftContent && !commonVariableService.appLayoutConfig.mobileView" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mobileWidt commonStyle float-left pl-0 pr-0">
        <carousel [data]="journey.carouselBanner[journey.productUserType].carouselImages"></carousel>
        <app-dynamic-tabs [tabsData]="tabsData"></app-dynamic-tabs> 
    </div>
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mobileWidt commonStyle main-cnt-pad" [ngClass]="{'w-100':!metaConfig.showLeftContent || commonVariableService.appLayoutConfig.mobileView}">
        <div *ngIf="metaConfig.showStepper"  [ngClass]="{'mb-30':metaConfig.showStepper}"  class="w-100  pl-0 pr-0">
            <app-stepper  [stepperData]="journey.metaData.stepperData"></app-stepper>

        </div>
        <div class="containerscroll">
            <div *ngIf="metaConfig.showSubStepper" [ngClass]="{'mb-15':metaConfig.showSubStepper}" class="w-100">
                <app-substepper  [stepperData]="journey.metaData.substepperData"></app-substepper>
            </div>
            <div class=" w-100 mb-15" >
                <app-section-builder [config]="config" (status)="sectionBuilderEmitter($event)"></app-section-builder>

            </div>
            <div class="mb-20 top w-100">
                <button class="btn-orange mob-w-100" [disabled]="continueButtonStatus()"  mat-flat-button 
                    (click)="continue()">{{metaConfig.fieldLabel}}</button>
            </div>
        </div>
    </div>
</div>
<spinner *ngIf="showloader"></spinner>
