<div class="mt-50 p-30 display-flex">
    <app-section-builder [config]="config" [contentInsertIndex]="1">
        <ng-template>
            <div class="summary-error mt-20"> We appreciate your effort for showing interest with our banking. </div>
            <div class="mt-50 link-space">
                <a class="underscore-orange active-icon-red" (click)="goBack()">Go Back to Home</a>
            </div>
        </ng-template>
    </app-section-builder>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "><img src="assets/images/page-expired.webp" class="exp-img" alt=""></div>
</div>
<spinner *ngIf="showloader"></spinner>
