// ::ng-deep .carousel-indicators {
//     top: 50vh;
//     position: relative !important;
// }
.details{
    background-color: #F4F9FC;
    padding: 20px 20px 0px 20px;
    border-radius: 4px;
    font-family: var(--font-damily);
    font-size: 12px;
    margin-bottom: 12px;
}