<div class="row cc-dialog" id="cc-dialog-know-more">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cc-dialog-content">
            <div class="header-wrapper">
                <label class="form-label form-label-lg mb-0">
                    <ng-container *ngIf="data.item">
                        {{data.item.name}}
                    </ng-container>      
                </label>
                <img [src]="'./assets/icons/close.png'" mat-dialog-close alt="close">
            </div>
            <div class="view-scroll-content p-30">
                <ng-container *ngIf="data.item">
                    <p innerHTML="{{data.item.descriptionHtml}}">
                    </p>
                </ng-container>
            </div>
        </div>
    </div>
</div>
