<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left maxWidth2400" [ngClass]="{'defaultTheme': commonVariableService.tenentConfiguration.applicationTheme=='default','redTheme': commonVariableService.tenentConfiguration.applicationTheme=='red','pinkTheme': commonVariableService.tenentConfiguration.applicationTheme=='pink','mobileApp': commonVariableService.appLayoutConfig.mobileView}">
    <div class="appLayout-panel float-left w-100 commonStyle" >
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left appHeader-section maxWidth2400" *ngIf="!commonVariableService.appLayoutConfig.mobileView" >
            <app-header></app-header>
        </div> 
         <div class="mt-0" >
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left appContent-section maxWidth2400">
                <router-outlet></router-outlet> 
         </div> 
         </div> 
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left appFooter-section maxWidth2400" *ngIf="!commonVariableService.appLayoutConfig.mobileView">
            <app-footer></app-footer>
        </div> 
    </div>
    
</div>